---
import { Icon } from 'astro-icon/components';
import { getRelativeLocaleUrl } from 'astro:i18n';
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import Button from '~/components/ui/Button.astro';

import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash, getAsset } from '~/utils/permalinks';
import type { CallToAction } from '~/types';
import type { LocaleKey } from '~/i18n';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends CallToAction {}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = 'header',
  links = [],
  actions = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  showToggleTheme = false,
  showRssFeed = false,
  position = 'center',
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
const locale = Astro.currentLocale as LocaleKey;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 mx-auto w-full flex-none border-b border-gray-50/0 transition-[opacity] ease-in-out',
  ]}
  {...isSticky ? { 'data-aw-sticky-header': true } : {}}
  {...id ? { id } : {}}
>
  <div class="flex w-full items-center justify-between p-3 md:px-6">
    <a href={getHomePermalink()}>
      <Logo />
    </a>

    <div class:list={[{ 'mr-auto rtl:mr-0 rtl:ml-auto': position === 'right' }, 'md:hidden']}>
      <ToggleMenu />
    </div>

    <div
      class:list={[
        { 'ml-auto rtl:ml-0 rtl:mr-auto': position === 'left' },
        'fixed bottom-0 left-0 hidden w-full items-center justify-end p-3 md:static md:mb-0 md:flex md:w-auto md:self-center md:p-0 rtl:left-auto rtl:right-0',
      ]}
    >
      <div class="flex w-full items-center justify-between md:w-auto">
        <div class="flex">
          {showToggleTheme && <ToggleTheme iconClass="size-8 md:size-7 md:inline-block" />}
          {
            showRssFeed && (
              <a
                class="inline-flex items-center rounded-lg p-2.5 text-sm text-muted hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200"
                aria-label="RSS Feed"
                href={getAsset('/rss.xml')}
              >
                <Icon name="tabler:rss" class="size-8" />
              </a>
            )
          }
        </div>
        {
          actions?.length ? (
            <span class="ml-4 rtl:ml-0 rtl:mr-4">
              {actions.map((btnProps) => (
                <Button {...btnProps} class="ml-2 w-auto px-5 py-2.5 text-sm font-semibold shadow-none md:px-6" />
              ))}
            </span>
          ) : (
            ''
          )
        }
      </div>
    </div>
  </div>

  <div
    class:list={[
      'relative text-default p-3 md:px-6 mx-auto w-full md:flex md:justify-center',
      {
        'max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <nav
      class="palt hidden w-full items-center overflow-y-auto overflow-x-hidden font-serif text-default md:mx-5 md:flex md:w-auto md:overflow-x-auto md:overflow-y-visible"
      aria-label="Main navigation"
    >
      <ul class="flex w-full flex-col text-xl font-medium tracking-[0.01rem] md:w-auto md:flex-row md:self-center">
        {
          links.map(({ text, href, links }) => (
            <li class={links?.length ? 'dropdown' : ''}>
              {links?.length ? (
                <>
                  <button class="flex items-center px-4 py-3 hover:text-primary">
                    {text}{' '}
                    <Icon name="tabler:chevron-down" class="ml-0.5 hidden size-3.5 md:inline rtl:ml-0 rtl:mr-0.5" />
                  </button>
                  <ul class="dropdown-menu rounded pl-4 font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white/90 md:pl-0 md:backdrop-blur-md">
                    {links.map(({ text: text2, href: href2 }) => (
                      <li>
                        <a
                          class:list={[
                            'block px-5 py-2 first:rounded-t last:rounded-b hover:text-primary md:hover:bg-gray-100',
                            { 'aw-link-active': href2 === currentPath },
                          ]}
                          href={href2}
                        >
                          {text2}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              ) : (
                <a
                  class:list={['flex px-4 py-3 hover:text-primary', { 'aw-link-active': href === currentPath }]}
                  href={getRelativeLocaleUrl(locale, href)}
                >
                  {text}
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
