---
import { Icon } from 'astro-icon/components';
import { getRelativeLocaleUrl } from 'astro:i18n';
import Logo from '~/components/Logo.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import type { LocaleKey } from '~/i18n';
import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  position?: string;
}

const {
  id = 'header',
  links = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  position = 'center',
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
const locale = Astro.currentLocale as LocaleKey;
---

<div class="sticky top-0 z-40 flex w-full items-center justify-between bg-white px-3 py-1 md:relative md:px-6 md:py-3">
  <a href={getHomePermalink()}>
    <Logo />
  </a>

  <div class:list={[{ 'mr-auto rtl:mr-0 rtl:ml-auto': position === 'right' }, 'md:hidden']}>
    <ToggleMenu />
  </div>

  <div
    class:list={[
      { 'ml-auto rtl:ml-0 rtl:mr-auto': position === 'left' },
      'fixed bottom-0 left-0 hidden w-full items-center justify-end p-3 md:static md:mb-0 md:flex md:w-auto md:self-center md:p-0 rtl:left-auto rtl:right-0',
    ]}
  >
    <div class="palt flex w-full items-center justify-end font-serif text-xl md:w-auto md:justify-between">
      <a href="#" class="group mr-6 hidden bg-tertiary p-2 transition-colors hover:bg-yellow-700 md:block">
        <div
          class="rounded-sm border border-white bg-tertiary p-4 text-center text-white transition-colors group-hover:bg-yellow-700"
        >
          <div>
            <Icon name="mdi:google-maps" class="-mr-1 mb-1 inline size-6" />
            交通案内
          </div>
          <div>＊＊駅徒歩１分</div>
        </div>
      </a>
      <div class="text-center text-2xl text-yellow-900 md:text-4xl">
        <div class="border-b-2 border-yellow-900 pb-1">
          <Icon name="mdi:phone" class="-mr-2 mb-1 inline size-8 rotate-12" />
          000-000-0000
        </div>
        <a
          href="#"
          class="block border-b-2 border-yellow-900 py-1 transition-colors hover:border-yellow-700 hover:text-yellow-700"
        >
          <Icon name="mdi:monitor-cellphone" class="-mr-1 mb-1 inline size-8" />
          Web予約
        </a>
      </div>
    </div>
  </div>
</div>

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 mx-auto w-full flex-none border-b border-gray-50/0 transition-[opacity] ease-in-out',
  ]}
  {...isSticky ? { 'data-aw-sticky-header': true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>

  <div
    class=""
    class:list={[
      'relative mx-auto w-full p-3 text-default md:flex md:justify-center',
      {
        'max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <nav
      class="palt hidden w-full items-center overflow-y-auto overflow-x-hidden font-serif text-default md:mx-5 md:flex md:w-auto md:overflow-x-auto md:overflow-y-visible"
      aria-label="Main navigation"
    >
      <ul class="flex w-full flex-col text-xl font-medium tracking-[0.01rem] md:w-auto md:flex-row md:self-center">
        {
          links.map(({ text, href, links }) => (
            <li class={links?.length ? 'dropdown' : ''}>
              {links?.length ? (
                <>
                  <button class="flex items-center px-4 py-3 hover:text-primary">
                    {text}{' '}
                    <Icon name="tabler:chevron-down" class="ml-0.5 hidden size-3.5 md:inline rtl:ml-0 rtl:mr-0.5" />
                  </button>
                  <ul class="dropdown-menu rounded pl-4 font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white/90 md:pl-0 md:backdrop-blur-md">
                    {links.map(({ text: text2, href: href2 }) => (
                      <li>
                        <a
                          class:list={[
                            'block px-5 py-2 first:rounded-t last:rounded-b hover:text-primary md:hover:bg-gray-100',
                            { 'aw-link-active': href2 === currentPath },
                          ]}
                          href={href2}
                        >
                          {text2}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              ) : (
                <a
                  class:list={['flex px-4 py-3 hover:text-primary', { 'aw-link-active': href === currentPath }]}
                  href={getRelativeLocaleUrl(locale, href)}
                >
                  {text}
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
